body {
    font-family: sans-serif;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

footer {
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
}

.blog {
    text-align: justify;
    background-color: aliceblue;
    margin: 20px 0;
    padding: 15px 30px 40px;
    width: 75%;
    border-radius: 10px;
}

.pager {text-align: center}